.sidenav-container {
  width: 20%;
  background-color: #C4C4C425;
  height: 100vh;
  padding-top: 10px;
  display: inline;
  font-family: 'Volkhov';
}

.sidenav-container li img{
  padding-left: 3px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidenav-container  li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.sidenav-container li a {
  text-decoration: none;
  color: black;
}

.sidenav-container li:hover {
  background-color: #d6d0d0;
  cursor: pointer;
}
