.table-container{
    margin-left: 150px;
}

.flights-table{
    width:120%;
}
.flights-table, th, td {
        border-collapse: collapse;

}
th, td {
    padding: 15px;
    text-align: center
}
.flights-table tr:nth-child(even) {
    background-color: #dbd0d0;
}
.flights-table tr:nth-child(odd) {
   background-color:#c1b8b8;
}
.flights-table th {
    background-color:#8CA2D9;
}
 .flights-table tr:hover{
    background-color:white

}