.inline-div {
  float: right;
  font-family: 'Volkhov';
}

.container-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #91ADF630;
  width: 280px;
  padding: 10px;
  margin-bottom: 40px;
}

.time-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.duration-label {
  font-size: 12px;
  margin-right: 10px;
}
