@media screen and (max-width: 500px) {
  .map-container {
    background-color: #ECFCF9;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Voces';
  }
  hr.style {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  .div-label-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 15px 0;
  }
}
