.header-container {
  background-color: #8ca2d9;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Volkhov";
}

.plane-image {
  float: left;
  width: 70px;
  height: 70px;
}

.username {
  float: right;
  color: #f2f2f2;
}
