.header-container {
  background-color: #8ca2d9;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Volkhov";
}

.plane-image {
  float: left;
  width: 70px;
  height: 70px;
  margin: 10px 0 0 10px;
}

.username {
  float: right;
  margin-right: 10px;
  color: #221a1a;
}
