.time-btn-style {
  background-color: #404040;
  border: none;
  color: #91adf6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  width: 150px;
  height: 45px;
  margin-bottom: 40px;
}
